Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [2]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [3]:
my_set.remove(3)  
print(my_set)

{1, 2, 4, 5, 6}

4. Check if an element exists in a set.

In [4]:
exists = 4 in my_set  
print(exists)

True

5. Find the length of a set without using the `len()` function.

In [5]:
def custom_len(s):
    count = 0
    for _ in s:
        count += 1
    return count

length = custom_len(my_set)
print(length)

5

6. Clear all elements from a set.

In [6]:
my_set.clear()
print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [7]:
even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [8]:
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [10]:
intersection_set = set1 & set2
print(intersection_set)

{3}

11. Find the difference between two sets.

In [11]:
difference_set = set1 - set2
print(difference_set)

{1, 2}

12. Check if a set is a subset of another set.

In [12]:
is_subset = set1.issubset(set2)
print(is_subset)

False

13. Check if a set is a superset of another set.

In [13]:
is_superset = set1.issuperset(set2)
print(is_superset)

False

14. Create a set from a list.

In [14]:
my_list = [1, 2, 3, 4, 5]
list_to_set = set(my_list)
print(list_to_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [16]:
set_to_list = list(list_to_set)
print(set_to_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [17]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print(my_set)

{2, 3, 4, 5}

17. Pop an element from a set.

In [18]:
popped_element = my_set.pop()
print(popped_element)

2

18. Check if two sets have no elements in common.

In [19]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)  
print(no_common_elements)

True

19. Find the symmetric difference between two sets.

In [20]:
symmetric_diff = set1 ^ set2
print(symmetric_diff)

{1, 2, 3, 4, 5, 6}

20. Update a set with elements from another set.

In [21]:
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [22]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [23]:
are_identical = set1 == set2
print(are_identical)

False

23. Create a frozen set.

In [24]:
frozen_set = frozenset([1, 2, 3])
print(frozen_set)

frozenset({1, 2, 3})

24. Check if a set is disjoint with another set.

In [27]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)  
print(no_common_elements)

True

25. Create a set of squares of numbers from 1 to 5.

In [26]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [28]:
odd_set = {x for x in my_set if x % 2 != 0}
print(odd_set)

{3, 5}

27. Multiply all elements in a set by 2.

In [30]:
multiplied_set = {x * 2 for x in my_set}
print(multiplied_set)

{8, 10, 6}

28. Create a set of random numbers.

In [31]:
random_numbers = set([42, 17, 9, 3])
print(random_numbers)

{17, 42, 3, 9}

29. Check if a set is empty.

In [32]:
is_empty = len(my_set) == 0
print(is_empty)

False

30. Create a nested set (hint: use frozenset).

In [33]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [34]:
my_set.discard(3)  
print(my_set)

{4, 5}

32. Compare two sets.

In [38]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

equal = set1 == set2
subset = set1 <= set2
superset = set1 >= set2
print(equal)
print(subset)
print(superset)

False
False
False

33. Create a set from a string.

In [39]:
my_string = "hello"
char_set = set(my_string)
print(char_set)

{'h', 'e', 'o', 'l'}

34. Convert a set of strings to a set of integers.

In [40]:
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [41]:
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print(string_set)

{'2', '1', '3'}

36. Create a set from a tuple.

In [42]:
my_tuple = (1, 2, 3)
tuple_set = set(my_tuple)
print(tuple_set)

{1, 2, 3}

37. Convert a set to a tuple.

In [43]:
my_set = {1, 2, 3}
set_tuple = tuple(my_set)
print(set_tuple)

(1, 2, 3)

38. Find the maximum value in a set.

In [44]:
max_value = max(my_set)
print(max_value)

3

39. Find the minimum value in a set.

In [46]:
min_value = min(my_set)
print(min_value)

1

40. Create a set from user input.

In [47]:
user_input = input("Enter elements separated by spaces: ")
user_set = set(user_input.split())
print(user_set)

Enter elements separated by spaces:  1 2 3 4 5

{'4', '2', '3', '5', '1'}

41. Check if the intersection of two sets is empty.

In [48]:
is_empty_intersection = set1.isdisjoint(set2)
print(is_empty_intersection)

False

42. Create a set of the first 5 Fibonacci numbers.

In [49]:
fibonacci_set = {0, 1, 1, 2, 3}
print(fibonacci_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [50]:
my_list = [1, 2, 2, 3, 3, 4]
unique_set = set(my_list)
unique_list = list(unique_set)
print(unique_list)

[1, 2, 3, 4]

44. Check if two sets have the same elements, regardless of their count.

In [51]:
same_elements = len(set1.symmetric_difference(set2)) == 0
print(same_elements)

False

45. Create a set of the first `n` powers of 2.

In [53]:
n = 5
powers_of_2 = {2**i for i in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [54]:
common_elements = my_set & set(my_list)
print(common_elements)

{1, 2, 3}

47. Create a set of the first `n` triangular

In [55]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = {triangular_number(i) for i in range(1, n + 1)}
print(triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [56]:
set1 = {1, 2, 3}
set2 = {2, 3}
is_subset = set2.issubset(set1)  
print(is_subset)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [57]:
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [58]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_c = {5, 6, 7}
merged_set = set_a | set_b | set_c
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}