List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [1]:
integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:
def custom_len(my_list):
    count = 0
    for _ in my_list:
        count += 1
    return count

length = custom_len(integer_list)
print(f"Length of the list: {length}")

Length of the list: 10

3. Append an element to the end of a list.

In [3]:
integer_list.append(11)
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [4]:
integer_list.insert(5, 99)  # Insert 99 at index 5
print(integer_list)

[1, 2, 3, 4, 5, 99, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [5]:
integer_list.remove(99)
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [6]:
removed_element = integer_list.pop(3)  # Remove element at index 3
print(f"Removed element: {removed_element}")
print(integer_list)

Removed element: 4
[1, 2, 3, 5, 6, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [7]:
element_to_check = 7
if element_to_check in integer_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

7 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [8]:
index_of_7 = integer_list.index(7)
print(f"Index of 7: {index_of_7}")

Index of 7: 5

9. Count the occurrences of an element in a list.

In [11]:
count_of_7 = integer_list.count(7)
print(f"Occurrences of 7: {count_of_7}")

Occurrences of 7: 1

10. Reverse the order of elements in a list.

In [12]:
integer_list.reverse()
print(integer_list)

[11, 10, 9, 8, 7, 6, 5, 3, 2, 1]

11. Sort a list in ascending order.

In [1]:
my_list = [5, 2, 9, 1, 7]
my_list.sort()  # In-place sorting
print(my_list)

[1, 2, 5, 7, 9]

12. Sort a list in descending order.

In [2]:
my_list.sort(reverse=True)
print(my_list)

[9, 7, 5, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [3]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [4]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [5]:
total_sum = sum(my_list)
print(f"Sum of elements: {total_sum}")

Sum of elements: 24

16. Find the maximum value in a list.

In [6]:
max_value = max(my_list)
print(f"Maximum value: {max_value}")

Maximum value: 9

17. Find the minimum value in a list.

In [7]:
min_value = min(my_list)
print(f"Minimum value: {min_value}")

Minimum value: 1

18. Create a list of squares of numbers from 1 to 10.

In [8]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [9]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[40, 11, 11, 77, 39]

20. Remove duplicates from a list.

In [10]:
duplicate_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(duplicate_list))
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [11]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4]

22. Find the difference between two lists.

In [17]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference_set = set(list1) - set(list2)
print(f"Difference: {list(difference_set)}")

Difference: [1, 2]

23. Merge two lists.

In [13]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [14]:
original_list = [2, 4, 6, 8]
doubled_list = [x * 2 for x in original_list]
print(doubled_list)

[4, 8, 12, 16]

25. Filter out all even numbers from a list.

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [19]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [20]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [21]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers.

In [22]:
def generate_fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        next_fib = fib_list[-1] + fib_list[-2]
        fib_list.append(next_fib)
    return fib_list

first_10_fibonacci = generate_fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [23]:
def is_sorted(my_list):
    return my_list == sorted(my_list)

sample_list = [1, 3, 5, 7, 9]
print(is_sorted(sample_list))

True

31. Rotate a list to the left by `n` positions.

In [24]:
def rotate_left(my_list, n):
    return my_list[n:] + my_list[:n]

original_list = [1, 2, 3, 4, 5]
rotated_left = rotate_left(original_list, 2)
print(rotated_left)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [25]:
def rotate_right(my_list, n):
    return my_list[-n:] + my_list[:-n]

rotated_right = rotate_right(original_list, 2)
print(rotated_right)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [26]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [x for x in range(2, 51) if is_prime(x)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [1]:
def split_into_chunks(my_list, chunk_size):
    return [my_list[i:i + chunk_size] for i in range(0, len(my_list), chunk_size)]

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunked_list = split_into_chunks(original_list, 3)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [2]:
def find_second_largest(my_list):
    sorted_list = sorted(my_list)
    return sorted_list[-2]

numbers = [10, 5, 8, 3, 12, 7]
second_largest = find_second_largest(numbers)
print(f"The second largest number is: {second_largest}")

The second largest number is: 10

36. Replace every element in a list with its square.

In [3]:
original_numbers = [1, 2, 3, 4, 5]
squared_numbers = [x ** 2 for x in original_numbers]
print(f"Squared numbers: {squared_numbers}")

Squared numbers: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [4]:
def list_to_dict(my_list):
    return {element: index for index, element in enumerate(my_list)}

fruits = ["apple", "banana", "cherry"]
fruit_dict = list_to_dict(fruits)
print(f"Fruit dictionary: {fruit_dict}")

Fruit dictionary: {'apple': 0, 'banana': 1, 'cherry': 2}

38. Shuffle the elements of a list randomly.

In [5]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(f"Shuffled list: {my_list}")

Shuffled list: [4, 2, 1, 3, 5]

39. Create a list of the first 10 factorial numbers.

In [6]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print(f"Factorial numbers: {factorial_numbers}")

Factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [1]:
def have_common_elements(list1, list2):
    return bool(set(list1) & set(list2))

list_a = [1, 2, 3, 4]
list_b = [3, 4, 5, 6]
if have_common_elements(list_a, list_b):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [3]:
my_list = [10, 20, 30]
my_list.clear()  # Clear the list
print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [4]:
numbers = [10, -5, 8, -3, 12, -7]
non_negative_numbers = [max(0, x) for x in numbers]
print(non_negative_numbers)

[10, 0, 8, 0, 12, 0]

43. Convert a string into a list of words.

In [5]:
sentence = "Hello, world! How are you?"
word_list = sentence.split()
print(word_list)

['Hello,', 'world!', 'How', 'are', 'you?']

44. Convert a list of words into a string.

In [6]:
words = ["Hello", "world", "from", "Python"]
separator = " "
joined_string = separator.join(words)
print(joined_string)

Hello world from Python

45. Create a list of the first `n` powers of 2.

In [7]:
def powers_of_2(n):
    return [2 ** i for i in range(n)]

first_5_powers = powers_of_2(5)
print(first_5_powers)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [8]:
string_list = ["apple", "banana", "cherry", "grapefruit", "kiwi"]
longest_string = max(string_list, key=len)
print(f"The longest string is: {longest_string}")

The longest string is: grapefruit

47. Find the shortest string in a list of strings.

In [9]:
shortest_string = min(string_list, key=len)
print(f"The shortest string is: {shortest_string}")

The shortest string is: kiwi

48. Create a list of the first `n` triangular numbers.

In [10]:
def generate_triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

first_5_triangular = generate_triangular_numbers(5)
print(f"First 5 triangular numbers: {first_5_triangular}")

First 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [1]:
def is_subsequence(sublist, mainlist):
    i, j = 0, 0
    while i < len(sublist) and j < len(mainlist):
        if sublist[i] == mainlist[j]:
            i += 1
        j += 1
    return i == len(sublist)

list_a = [1, 2, 3, 4, 5]
list_b = [2, 4, 5]
if is_subsequence(list_b, list_a):
    print("List B is a subsequence of List A.")
else:
    print("List B is not a subsequence of List A.")

List B is a subsequence of List A.

50. Swap two elements in a list by their indices.

In [2]:
def swap_elements(my_list, index1, index2):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

sample_list = [10, 20, 30, 40]
swap_elements(sample_list, 1, 2)
print(f"Swapped list: {sample_list}")

Swapped list: [10, 30, 20, 40]