Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
third_element = my_tuple[2]
print(f"The third element is: {third_element}")  # Output: 3

The third element is: 3

3. Find the length of a tuple without using the `len()` function.

In [3]:
def custom_len(my_tuple):
    count = 0
    for _ in my_tuple:
        count += 1
    return count

tuple_length = custom_len(my_tuple)
print(f"Length of the tuple: {tuple_length}")

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [6]:
def count_occurrences(my_tuple, target_element):
    count = 0
    for item in my_tuple:
        if item == target_element:
            count += 1
    return count

target = 3
occurrences = count_occurrences(my_tuple, target)
print(f"Occurrences of {target}: {occurrences}")

Occurrences of 3: 1

5. Find the index of the first occurrence of an element in a tuple.

In [7]:
my_tuple = (10, 20, 30, 40, 20)
element_to_find = 20
try:
    index = my_tuple.index(element_to_find)
    print(f"The index of {element_to_find} is: {index}") 
except ValueError:
    print(f"{element_to_find} is not in the tuple.")

The index of 20 is: 1

6. Check if an element exists in a tuple.

In [8]:
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list.

In [10]:
my_list = list(my_tuple)
print(f"Converted list: {my_list}")

Converted list: [10, 20, 30, 40, 20]

8. Convert a list to a tuple.

In [11]:
my_list = [10, 20, 30, 40]
my_new_tuple = tuple(my_list)
print(f"Converted tuple: {my_new_tuple}")

Converted tuple: (10, 20, 30, 40)

9. Unpack the elements of a tuple into variables.

In [12]:
a, b, c, d, e = my_tuple
print(f"Unpacked variables: {a}, {b}, {c}, {d}, {e}")

Unpacked variables: 10, 20, 30, 40, 20

10. Create a tuple of even numbers from 1 to 10.

In [13]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))
print(f"Even numbers tuple: {even_numbers_tuple}")

Even numbers tuple: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [14]:
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))
print(f"Odd numbers tuple: {odd_numbers_tuple}")

Odd numbers tuple: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [15]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(f"Concatenated tuple: {concatenated_tuple}")

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [16]:
repeated_tuple = my_tuple * 3
print(f"Repeated tuple: {repeated_tuple}")

Repeated tuple: (10, 20, 30, 40, 20, 10, 20, 30, 40, 20, 10, 20, 30, 40, 20)

14. Check if a tuple is empty.

In [17]:
empty_tuple = ()
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [18]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(f"Nested tuple: {nested_tuple}")

Nested tuple: ((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple.

In [20]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(f"The first element of the nested tuple is: {first_element}")

The first element of the nested tuple is: (1, 2)

17. Create a tuple with a single element.

In [21]:
single_element_tuple = (42,)
print(f"A tuple with a single element: {single_element_tuple}")

A tuple with a single element: (42,)

18. Compare two tuples.

In [22]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are equal.

19. Delete a tuple.

In [23]:
my_tuple = (10, 20, 30)
del my_tuple

20. Slice a tuple.

In [24]:
original_tuple = (1, 2, 3, 4, 5)
sliced_tuple = original_tuple[1:4]
print(f"Sliced tuple: {sliced_tuple}")

Sliced tuple: (2, 3, 4)

21. Find the maximum value in a tuple.

In [25]:
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
print(f"The maximum value in the tuple is: {max_value}")

The maximum value in the tuple is: 50

22. Find the minimum value in a tuple.

In [26]:
min_value = min(my_tuple)
print(f"The minimum value in the tuple is: {min_value}")

The minimum value in the tuple is: 10

23. Convert a string to a tuple of characters.

In [27]:
my_string = "Hello"
char_tuple = tuple(my_string)
print(f"Tuple of characters: {char_tuple}")

Tuple of characters: ('H', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [28]:
reconstructed_string = "".join(char_tuple)
print(f"Reconstructed string: {reconstructed_string}")

Reconstructed string: Hello

25. Create a tuple from multiple data types.

In [29]:
mixed_tuple = (1, "apple", 3.14, True)
print(f"Mixed data types tuple: {mixed_tuple}")

Mixed data types tuple: (1, 'apple', 3.14, True)

26. Check if two tuples are identical.

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

27. Sort the elements of a tuple.

In [31]:
sorted_tuple = tuple(sorted(my_tuple))
print(f"Sorted tuple: {sorted_tuple}")

Sorted tuple: (10, 20, 30, 40, 50)

28. Convert a tuple of integers to a tuple of strings.

In [33]:
int_tuple = (10, 20, 30)
str_tuple = tuple(str(x) for x in int_tuple)
print(f"Tuple of strings: {str_tuple}")

Tuple of strings: ('10', '20', '30')

29. Convert a tuple of strings to a tuple of integers.

In [34]:
str_numbers = ("10", "20", "30")
int_numbers = tuple(int(x) for x in str_numbers)
print(f"Tuple of integers: {int_numbers}")

Tuple of integers: (10, 20, 30)

30. Merge two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(f"Merged tuple: {merged_tuple}")

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [36]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(f"Flattened tuple: {flattened_tuple}")

Flattened tuple: (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [56]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_tuple = tuple(x for x in range(2, 20) if is_prime(x))[:5]
print(f"First 5 prime numbers tuple: {prime_numbers_tuple}")

First 5 prime numbers tuple: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [39]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

sample_palindrome = (1, 2, 3, 2, 1)
if is_palindrome(sample_palindrome):
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [40]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(f"Squares tuple: {squares_tuple}")

Squares tuple: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [41]:
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd_numbers_tuple = tuple(x for x in numbers_tuple if x % 2 != 0)
print(f"Odd numbers tuple: {odd_numbers_tuple}")

Odd numbers tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [42]:
original_tuple = (10, 20, 30)
doubled_tuple = tuple(x * 2 for x in original_tuple)
print(f"Doubled tuple: {doubled_tuple}")

Doubled tuple: (20, 40, 60)

37. Create a tuple of random numbers.

In [57]:
import random

random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(f"Random numbers tuple: {random_numbers_tuple}")

Random numbers tuple: (75, 59, 27, 11, 51)

38. Check if a tuple is sorted.

In [58]:
def is_sorted(my_tuple):
    return my_tuple == tuple(sorted(my_tuple))

sorted_tuple = (1, 2, 3, 4, 5)
if is_sorted(sorted_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [59]:
def rotate_left(my_tuple, n):
    return my_tuple[n:] + my_tuple[:n]

original_tuple = (1, 2, 3, 4, 5)
rotated_left_tuple = rotate_left(original_tuple, 2)
print(f"Rotated left tuple: {rotated_left_tuple}")

Rotated left tuple: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [60]:
def rotate_right(my_tuple, n):
    return my_tuple[-n:] + my_tuple[:-n]

rotated_right_tuple = rotate_right(original_tuple, 2)
print(f"Rotated right tuple: {rotated_right_tuple}")

Rotated right tuple: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [61]:
def generate_fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        next_fib = fib_list[-1] + fib_list[-2]
        fib_list.append(next_fib)
    return tuple(fib_list)

first_5_fibonacci = generate_fibonacci(5)
print(f"First 5 Fibonacci numbers tuple: {first_5_fibonacci}")

First 5 Fibonacci numbers tuple: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [62]:
def create_tuple_from_input():
    user_input = input("Enter elements separated by commas: ")
    elements = user_input.split(",")
    my_tuple = tuple(elements)
    return my_tuple

user_tuple = create_tuple_from_input()
print(f"User input tuple: {user_tuple}")

Enter elements separated by commas:  1,2,3,5,6,4

User input tuple: ('1', '2', '3', '5', '6', '4')

43. Swap two elements in a tuple.

In [63]:
def swap_elements(my_tuple, index1, index2):
    temp_list = list(my_tuple)
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    return tuple(temp_list)

original_tuple = (10, 20, 30, 40)
swapped_tuple = swap_elements(original_tuple, 1, 2)
print(f"Swapped tuple: {swapped_tuple}")

Swapped tuple: (10, 30, 20, 40)

44. Reverse the elements of a tuple.

In [64]:
reversed_tuple = original_tuple[::-1]
print(f"Reversed tuple: {reversed_tuple}")

Reversed tuple: (40, 30, 20, 10)

45. Create a tuple of the first `n` powers of 2.

In [65]:
n = 5
powers_of_2 = tuple(2**i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [66]:
string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)
print(longest_string)

banana

47. Find the shortest string in a tuple of strings.

In [67]:
shortest_string = min(string_tuple, key=len)
print(shortest_string)

date

48. Create a tuple of the first `n` triangular numbers.

In [68]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [69]:
main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (3, 4)

is_subsequence = sub_tuple in main_tuple
print(is_subsequence)

False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [70]:
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0)